<config platform="android" template="android (default)">Created: Sat Aug 30 16:03:27 2014
By: Michiel
Using Template: android (default)

&lt;description to go here><option name="android-icon-dir" value="" fromDef="true"/>
    <option name="android-icon-group" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" fromDef="true"/>
    <option name="android-icon-gallery" value="" fromDef="true"/>
    <option name="android-icon-nonstandard" value="" fromDef="true"/>
    <option name="android-external-res" value="" fromDef="true"/>
    <option name="android-install-location" value="1" fromDef="true"/>
    <option name="android-pkgname" value="com.Michiel.HelloWorld" fromDef="true"/>
    <option name="android-external-assets" value="" fromDef="true"/>
    <option name="icon" value="" fromDef="true"/>
    <option name="splashscreen" value="" fromDef="true"/>
    <option name="splashscreen-use-all" value="" fromDef="true"/>
    <option name="splashscreen-auto-onblack" value="" fromDef="true"/>
    <option name="assets" value="Default" fromDef="true"/>
    <option name="embed-icf" value="" fromDef="true"/>
    <option name="config" value="data/app.icf" fromDef="true"/>
    <option name="name" value="HelloWorld" fromDef="true"/>
    <option name="caption" value="HelloWorld" fromDef="true"/>
    <option name="provider" value="Michiel" fromDef="true"/>
    <option name="copyright" value="(C) Michiel" fromDef="true"/>
    <option name="version" value="0.0.1" fromDef="true"/>
    <option name="version-string" value="" fromDef="true"/>
    <option name="android-manifest" value="" fromDef="true"/>
    <option name="android-custom-activity" value="" fromDef="true"/>
    <option name="android-extra-manifest" value="" fromDef="true"/>
    <option name="android-extra-application-manifest" value="" fromDef="true"/>
    <option name="android-extra-strings" value="" fromDef="true"/>
    <option name="android-supports-gl-texture" value="" fromDef="true"/>
    <option name="android-unsigned" value="" fromDef="true"/>
    <option name="android-tm" value="" fromDef="true"/>
</config>
