<config platform="project" template="project (default)">Created: Sat Aug 30 16:03:26 2014
By: Michiel
Using Template: project (default)

&lt;description to go here><option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="data/app.icf" fromDef="true" name="config"/>
    <option value="HelloWorld" fromDef="true" name="name"/>
    <option value="HelloWorld" fromDef="true" name="caption"/>
    <option value="Michiel" fromDef="true" name="provider"/>
    <option value="(C) Michiel" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
